<h1> <%= @article.title %> </h1>

<div class="icon"> <%= link_to "✎", edit_article_path  %>
<%= link_to "🗑", article_path(@article),  method: :delete, data: {:confirm => "Are you sure you want to delete ?"}  %> </div>

<p> <%= @article.content %> </p>

<%= link_to "Back", articles_path  %>
